\#*#
*~
.nfs.*
*.swp
*.o
*.cor
libft.a
.DS_Store
vm/.DS_Store
vm/diff_logs
vm/vm_test*
vm/zaz_test*
vm/list_broken
vm/list_working
vm/corewar.dSYM
vm/corewar
vm/diff1
vm/diff2
vm/fawrk
vm/fawrk2
vm/my_print_result
vm/zaz_print_result
